.active {
  background-color: gold;
  color: Black;
  font-weight: bold;
}

.image-upload #imageFile {
  display: none;
}

.overFlowTitle
{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.overFlowDescription
{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}